.ui-fixed-hidden {
    display: none !important;
}

.hideShowPassword-toggle {
    background-image: url(../img/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;        
    width: 44px;
}
        
.hideShowPassword-toggle-hide {
    background-position: -44px center;
}

.ui-content {
    background-image:url(../img/fondo.jpg); 
    background-repeat: no-repeat; 
    background-position: right top;
}


.navbtn .ui-btn { padding-top: 40px !important; }
.navbtn .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#iconRegister:after { background:  url("../img/useradd.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconUser:after { background:  url("../img/userlogin.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconServers:after { background:  url("../img/server.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconServersAdd:after { background:  url("../img/serveradd.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconBack:after { background:  url("../img/back.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconPass:after { background:  url("../img/uploadpassword.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconGen:after { background:  url("../img/genpass.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconDev:after { background:  url("../img/devices.png") 50% 50% no-repeat; background-size: 24px 24px; }
#iconDatabase:after { background:  url("../img/database.png") 50% 50% no-repeat; background-size: 24px 24px; }

